
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap');
nav {
    height: 80px;
    background: #6e6b5f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
  }

  .logo {
    float: none;
    height: 80px;
    width: 80px;
    padding-top: 10px;
  }

  nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
  }

  nav a:hover {
    color: #fff;
  }
:root{
    --bodyBack: #6e6b5f;
    --textColor: #d1bb61;
    --starColor: #ffffff;
    --sectionBack: #8d8567;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: var(--bodyBack);
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    width: 80vw;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header{
    width: 100%;
    text-align: center;
}
.header h1{
    font-size: 4em;
    text-transform: uppercase;
    color: var(--textColor);
}
.products{
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.product{
    position: relative;
    background-color: var(--sectionBack);
    width: 350px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}
.product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
    width:100%;
    height: 60%;
    display: grid;
    place-content: center;
}

.image img{
    height: 200px;
    width: 200px;
    border-radius: 60%;
}

.namePrice{
    display: flex;
    justify-content: center;
    align-items: center;
}
.namePrice h3{
    font-size: 2em;
    
    text-transform: capitalize;
    color: var(--textColor);
}

.product p{
    font-size: 18px;
    line-height: 25px;
}
.stars svg{
    font-size: 1.3em;
    color: var(--starColor);
}
.redirect{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.redirect button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: var(--textColor);
    color: var(--sectionBack);
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}
.redirect button:hover{
    transform: scale(1.1);
}